.navbar-container {
    display: flex;
    justify-content: center;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajuste este valor para alterar a espessura da barra de navegação */
  }
  
  
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: center; /* Adicionado para centralizar o conteúdo */
  }
  
  .navbar-brand .navbar-caption,
  .navbar-nav .nav-link,
  .btn-primary {
    color: white !important;
  }
  
  .navbar-brand .navbar-caption:hover,
  .navbar-nav .nav-link:hover,
  .btn-primary:hover {
    color: #d3c50a;
  }